

    body {
        background-color: rgba(0, 255, 55, 0);
        color: rgb(0, 0, 0);
    }
    h1 {
        color: rgb(0, 0, 0);
        text-align: left;
        font-size: xx-large;
        line-height: 1;
    }
    h2 {
        line-height: 0;
        color: rgba(0, 0, 0, 0.377);

    }
    video {
        overflow: hidden;
        position: relative;
        width: 550px;
        height: 300px;
        border-radius: 30px;
    }

    p {
        font-size: x-large;
        font-family: 'Times New Roman', Times, serif;
        line-height: 0;
    }
    .line2{
        font-size: small;
        color: rgba(0, 0, 0, 0.459);
        line-height: 0.5;
    }
    div {
        display: inline-block;
        text-align: left;
        margin-left: 35px;
        line-height: 0;
    }